*{
    margin: 0;
    padding: 0;
    box-sizing; border-box;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;

}

.c_menu{
    width:100%;
    height: 65px;
    background: white;
    position:fixed;
    

}

.logo_menu{
    float: left;
    line-height: 65px;
    margin-left: 10px;
}

.menu{
    position: relative;
    line-height: 65px;
    text-decoration: none;
    float:right
    
    
}

.menu ul{
    display: flex;
    list-style:none;
}

.menu_item{
    display:block;
    padding: 0px 20px;
    text-decoration: none;
    color: black;
    transition: all 500 ms ease;
}

.menu_item::before {
    content: "";
    height: 2px;
    width: 0%;
    
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s ease-out;  

}

.menu_item:hover::before{
    width: 100px;

}


.menu .submenu{
    
    box-shadow: 3px 10px 10px rgba(0,0,0,0,2);
    display: none;
    
}

.menu .submenu li a{
    line-height: 100px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

}

.menu ul li a:hover + ul, .menu .submenu:hover{
    display:block;
}


.etiqueta {
    border-radius: 8px;
    padding: 15px 20px;
    background: rgb(238, 52, 27); 
    color: white;
    text-align: center;
    width: 400px;
    height: 100px;
    margin-right: 10px;

}

.menu-video{
    
    width:100%;
    height: 100vh;
    background: black;
    display: flex;
    
}

.menu-video .video{
    
    object-fit: cover;
    width: 100%;
    pointer-events: none;
    padding: 0%;
    overflow: hidden;
    padding: 0 0;
    justify-content: center;
    align-items: center;
    

}

.menu-video .content{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    color: white;
    
    
}

.container-content{
    
    width: 1500px;
    height: 100px;
    position: relative;
    display: inline-table;
    margin-left: 120px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 120px;
    align-content: center;
    overflow: hidden;
    

}

.container-text{
    margin-left: 160px;
    margin-bottom: 50px;
    
}

.container1 {
    position: relative;
    justify-items: center;
    
    

}

.fsd{
    position: relative;
    border-radius: 8px;
    background: white;
    width: 400px;
    height: 80px;
    margin-bottom: 20px;
    padding: 15px 20px;
    
}



.ch{
    position: absolute;
    border-radius: 8px;
    background: white;
    width: 400px;
    height: 80px;
    margin-bottom: 20px;
    padding: 15px 20px;
    margin-left: 450px;
    margin-top: -130px;
   

    
}

.ux-ui{
    position: relative;
    border-radius: 8px;
    background: white;
    width: 400px;
    height: 80px;
    margin-bottom: 20px;
    padding: 15px 20px;
    
}

.fed{
    position: absolute;
    border-radius: 8px;
    background: white;
    width: 400px;
    height: 80px;
    margin-bottom: 20px;
    padding: 15px 20px;
    margin-left: 450px;
    margin-top: -130px;
    
    
}

.fed-logo{
    margin-left: 300px;
    margin-top: ;
    
}

.container-article{
    
    width: 1500px;
    height: 300px;
    margin-left: 120px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 120px;
    overflow: hidden;   
    
}

.article1{
    display: flexbox;
    position: absolute;
    
    width: 410px;
    height: 200px;
    text-align: left;
    padding-top: 100px;
    font-size: 20px;
    font-weight: bold;
    

}

.article2{
    
    width: 450px;
    height: 200px;
    text-align: left;
    padding-top: 100px;
    font-size: 20px;
    margin-left: 700px;
     
    
}

.logos_container{
    
    width: 1500px;
    height: 500px;
    position: relative;
    display: inline-table;
    margin-left: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 120px;
    align-items: center;
}

.logo_image{
    display: inline-flex;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 150px;
    padding: 0 0;
    align-items: center;
}

.logo{
    width: 102px;
    height: 46px;
}


.test_img{
    width: 350px;
    display: inline-block;

}

.img{
    height: 250;
    width: 350%;
    display: inline;

}


.text_opinan{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;

    
}

.testimonios{
    display: flex;
    margin-top: 50px;
    


}

.test_img{
    width: 500px;
    height: 350px;
    display: inline-block;
    
}  


.etiqueta1 {
    position: absolute;
    border-radius: 8px;
    padding: 15px 20px;
    background: rgb(238, 52, 27); 
    color: white;
    text-align: center;
    width: 200px;
    height: 10px;
    margin-left: 750px;
    margin-top: 50px;

}



.table_container{
    width: 1500px;
    height: 500px;
    
    margin-left: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 120px;
    
}





.table_row1{
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    padding: 10px;
}

.table_row2{
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    padding: 10px;

}

.table_row3{
    
    font-size: 20px;
    text-align: left;
    font-weight: normal;
   
}

.boot_box{
    background:white;
}
.bootcamps1{
    
    margin-top: 200px;
    margin-bottom: 0px;
    margin-left: 0px;

}

.container-estilo{
    background: rgb(68, 26, 136);
    width: 100%;
    height: 800px;
    
  
}

.estilo1{
    
    box-sizing: inherit;
    width: 350px;
    height: 300px;
    
    margin-left: 200px;
    padding-top: 200px;

    
}

.text1{
    color:white;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;

}

.text2{
    color:white;
    font-size: 20px;

}



.estilo2{
    position: absolute;
    box-sizing: inherit;
    width: 540px;
    height: 580px;
    margin-left: 900px;
    margin-top: -500px;
    color: white;
    padding-top: 100px;
  
  
}

.text3{
  font-size: 20px;

}

.text4{
    padding-top: 20px;
    font-size: 15px;

}

.box{
    border-radius: 5px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btt{
    border-radius: 8px;
    padding: 15px 20px;
    background: rgb(130, 97, 136); 
    color: white;
    text-align: center;
    width: 300px;
    height: 60px;
    font-size: 20px;
    
    margin-top: 50px;

}




.footer{
    display: flex;
    width:100%;
    height: 350px;
    background: rgb(38,45,53);
    color: white;
    box-sizing: content-box;
    justify-content: space-between;
}


.footer-left{
    margin-left: 300px;
    margin-top: 150px;
    list-style: none;

}
.foot-logo{
    cursor: pointer;
   

}

.footer-center{
    margin-top: 150px;
    margin-left: -500px;
    text-decoration: none;
    list-style: none;
}

.social{
    margin-top: 150px;
    padding-right: 250px;

}

.address{
    text-decoration: none;
    color: white;
   
    
}

.link{
    text-decoration: none;
    color: white;
}
